# Python Data Structures

## Basic (Simple) structures

In [4]:
print('hi')

hi

In [5]:
type(2.5)

float

To put markdown in math mode use the $ simbol, for example: $2^3$

In [13]:
print(0.1+0.2) # The sum with float numbers its not exact
print(1+2) # The sum with integer its exact
print(2**3)
print(type(22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222))

0.30000000000000004
3
8
<class 'int'>

In [15]:
a = "hello"
type(a),a # The last item of a cell is displayed

(str, 'hello')

In [25]:
a[-3:] # First character included, last characted not included

'llo'

In [28]:
d = 10
e = 2
f = d*e
type(f),f

(int, 20)

In [29]:
g = 2**-1
type(g), g

(float, 0.5)

In [31]:
round(5.5)

6

## Complex structures

### Tuples inmutable

In [57]:
chocolates = ('dark', 'milk', 'semi sweet')

type(chocolates)
chocolates[0], chocolates[-1], len(chocolates)

('dark', 'semi sweet', 3)

In [41]:
chocolates[:2]

('dark', 'milk')

In [49]:
neasted_chocolates = ((chocolates,chocolates),(chocolates))
neasted_chocolates

((('dark', 'milk', 'semi sweet'), ('dark', 'milk', 'semi sweet')),
 ('dark', 'milk', 'semi sweet'))

In [51]:
neasted_chocolates[1][0][0]

'd'

In [52]:
chocolates[2]

'semi sweet'

### Lists mutable

In [55]:
chocolates = ['dark', 'milk', 'semi sweet']
chocolates[2] = 'white'
chocolates

['dark', 'milk', 'white']

In [56]:
tuple_blah = ('a', 'ab', 'c')
list_blah = list(tuple_blah)
type(tuple_blah),type(list_blah)

(tuple, list)

In [58]:
len(chocolates)

3

### Dictionary Key:Value type data

In [59]:
dict_blah = {'hey': 10, 'bro' : 10}

type(dict_blah), dict_blah

(dict, {'hey': 10, 'bro': 10})

In [65]:
vals = {
    'life' : 5,
    'attack' : 15.8,
    'items': ('helmet', 'knife')
}

type(vals), vals

list(vals)[0]

'life'

#### escaping characters and special characters

In [61]:
# /n  means jump line
# /t  means a tab line
# If u want a character in the String that not used normally ass a character need to use / in front of the character

### Sets

Sets can have only 1 type of the same element, for example if we add 11 we cant add 11 other time again.

In [84]:
s = set((2,5,7))

s.add(11)

type(s),s

(set, {2, 5, 7, 11})

In [68]:
s.remove(11)
s

{2, 5, 7}

In [83]:
s.union( set((11,13)) )
s

{2, 5, 7, 11}

In [72]:
s2 = set((2,4,8,10))
s2

{2, 4, 8, 10}

In [73]:
s2.intersection(s)

{2}

### Loops

#### Range

In [100]:
for i in range(1,11):
    if (i**2%2) == 0:
        print(i**2)

4
16
36
64
100

In [99]:
user = input('Type a number :')
n = int(user)
if n>10:
    print('hi')
else:
    print('hello')

hi

In [120]:
for i in range(50):
    if (i%3) == 0:
        print(i, end = ',') # If u dont wwant to manyaa lanes of code u can use end = ','

0,3,6,9,12,15,18,21,24,27,30,33,36,39,42,45,48,

In [106]:
l = (2,5,6)
print(*l, sep = ',')

2,5,6

In [121]:
numbers = []
for i in range(50):
    if (i%3) == 0:
        numbers.append(i)

print(*numbers, sep = ',', end = '.') # Using * for give all the values of the list for separate (unpack the list)

0,3,6,9,12,15,18,21,24,27,30,33,36,39,42,45,48.

In [125]:
for item in numbers:
    print(item*2, end = ',')

0,6,12,18,24,30,36,42,48,54,60,66,72,78,84,90,96,

In [127]:
d = {
    'python':5,
    'c':2,
    'java':0,
    'php':1    
}

for key in d:
    val = d[key]
    print(key,val)

python 5
c 2
java 0
php 1

In [159]:
for key, val in d.items():
    # print('My skills in',key,'are',str(val)+"/5",'\n') is for in case u need to ad a Int as a Str this is bhow to fix
    print(f'My skills in {key} are {val}/5\n')

My skills in python are 5/5

My skills in c are 2/5

My skills in java are 0/5

My skills in php are 1/5