# Lab | Data Structuring and Combining Data

Objective: 
- Combine and integrate data from multiple sources using merging, concatenating, or joining techniques to generate more comprehensive and meaningful datasets for analysis.
- Modify the structure of data by pivoting, stacking/unstacking, or melting dataframes, enabling them to efficiently explore and analyze complex datasets.

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Perform data cleaning and formatting using the main cleaning and formatting function created in the previous lab to clean and format the data.

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [14]:
import pandas as pd
import matplotlib as mp
import numpy as np

df1 = pd.read_csv('file1.csv')
display(df1.columns)
df2 = pd.read_csv('file2.csv')
display(df2.columns)
df3 = pd.read_csv('file3.csv')
display(df3.columns)

full_df = pd.merge(df1,df2, on = 'Customer', how='outer')
full_df = pd.merge(full_df,df3, on = 'Customer')

display(full_df)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

,Customer,ST_x,GENDER_x,Education_x,Customer Lifetime Value_x,Income_x,Monthly Premium Auto_x,Number of Open Complaints_x,Policy Type_x,Vehicle Class_x,...,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,...,Washington,5363.076547,High School or Below,M,36357,68,0,Personal Auto,17.269323,Four-Door Car
1,HS14476,Washington,M,College,916206.32%,29723.0,80.0,1/0/00,Personal Auto,Four-Door Car,...,Washington,9162.063169,College,M,29723,80,0,Personal Auto,20.985105,Four-Door Car
2,NW21079,Washington,F,Master,487938.48%,67163.0,61.0,1/2/00,Personal Auto,Two-Door Car,...,Washington,4879.384813,Master,F,67163,61,2,Personal Auto,33.192803,Two-Door Car
3,SP81997,Washington,F,Master,NaN,41275.0,96.0,1/0/00,Personal Auto,Four-Door Car,...,Washington,7752.933281,Master,F,41275,96,0,Personal Auto,41.122303,Four-Door Car
4,YB66933,Washington,F,Bachelor,538275.20%,77552.0,68.0,1/1/00,Corporate Auto,Four-Door Car,...,Washington,5382.752045,Bachelor,F,77552,68,1,Corporate Auto,45.215059,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,SA40041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Washington,5749.883799,Bachelor,F,22814,73,0,Personal Auto,360.773462,Four-Door Car
74,KR25511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Washington,6005.214792,High School or Below,M,26876,76,0,Corporate Auto,364.800000,Four-Door Car
75,TL18087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Washington,3059.282091,Bachelor,M,65083,77,0,Personal Auto,369.600000,Four-Door Car
76,RM83767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Washington,5970.995737,College,M,64008,85,5,Personal Auto,372.893812,Four-Door Car
77,BW94308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Washington,20096.893370,High School or Below,F,92766,71,0,Personal Auto,379.029102,Two-Door Car

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

## Exercise 1: Clean and Format the Data

While the dataset has been partially cleaned and formatted, we still need to perform several data cleaning tasks. Specifically, we need to standardize the column names, clean null values, convert the effective_to_date column to datetime, and extract the months from the dataset and store them in a separate column. 

To accomplish these tasks, we will use the functions created in the previous step to standardize the column names and deal with null values, and then we will apply additional functions to convert the effective_to_date column to datetime and extract the months.

Save the clean dataset into a csv file.

In [9]:
# Your code goes here

## Exercise 2: Structuring Data

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

3. You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [10]:
# Your code goes here