In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('california_housing_train.csv')

In [4]:
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0

In [5]:
school1 = (37.39, -122.13)
school2 = (33.83, -118.49)