In [28]:
import pandas as pd

In [29]:
superstore = pd.read_csv('Sample - EU Superstore.csv')

In [30]:
orders = pd.read_excel("orders.xlsx")

In [31]:
superstore['Country'].nunique()
superstore['Country'].unique()
superstore['Country'].value_counts()

Country
France            2827
Germany           2065
United Kingdom    1633
Italy             1108
Spain              859
Netherlands        435
Austria            270
Sweden             203
Belgium            147
Ireland            106
Switzerland         78
Portugal            70
Norway              70
Denmark             65
Finland             64
Name: count, dtype: int64

In [34]:
selection = superstore['Sales'] > 100

superstore_large = superstore[selection]

superstore_large

sales_max_superstore = (superstore['Sales'] == superstore['Sales'].max())

superstore[sales_max_superstore]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1774,1775,ES-2017-1651774,08/09/2017,14/09/2017,Standard Class,PJ-18835,Patrick Jones,Corporate,Prato,Tuscany,Italy,South,OFF-AP-10004512,Office Supplies,Appliances,"Hoover Stove, Red",7958.58,14,0.0,3979.08